@import "../../styles/config.module";

.simple-field {
  width: 100%;
  margin: size(2);

  &--noMargin {
    margin: unset;
  }
  .MuiFormControl-root,
  .MuiInputBase-root {
    width: 100%;
  }
  .MuiFormControl-marginNormal {
    margin-top: unset;
  }
  .MuiAutocomplete-root {
    width: 100%;
  }
  .MuiFormHelperText-root {
    font-family: $app-fonts-regular;
  }
  &__radio-container {
    flex-direction: row !important;
    .MuiFormControlLabel-root {
      margin-right: size(5);
    }
  }
}
