@import "../../styles/config.module";

.simple-field {
  width: 100%;
  .MuiFormControl-root,
  .MuiInputBase-root {
    width: 100%;
  }
  .MuiFormControl-marginNormal {
    margin-top: unset;
  }
  .MuiAutocomplete-root {
    width: 100%;
  }
  .MuiFormHelperText-root {
    font-family: $app-fonts-regular;
  }
}
