@use "sass:map";

$color-primary: #2faa75;
$color-secondary: #ffffff;
$color-dark: #858585;
$color-dark-light: #c2c2c2;
$color-dark-light2: #dbdbdb;
$color-dark-light3: #a6a6a6;
$color-danger: #ed2359;
$color-black: #383838;
$color-disabled: #c9c9c9;

$app-fonts-regular: "HelveticaNeue";
$app-fonts-light: "HelveticaNeue-Light";
$app-fonts-ultaLight: "HelveticaNeue-UltraLight";
$app-fonts-bold: "HelveticaNeue-Bold";
$app-fonts-medium: "HelveticaNeue-Medium";

// Screem sizes
$sm-screen: 600px;
$md-screen: 960px;
$lg-screen: 1280px;
$xl-screen: 1920px;

// @font-face {
//   src: url("../assets/fonts/HelveticaNeue.woff2") format("woff2");
//   font-family: $app-fonts-regular;
// }

// @font-face {
//   src: url("../assets/fonts/HelveticaNeue-UltraLight.woff2") format("woff2");
//   font-family: $app-fonts-ultaLight;
// }

// @font-face {
//   src: url("../assets/fonts/HelveticaNeue-Medium.woff2") format("woff2");
//   font-family: $app-fonts-medium;
// }

// @font-face {
//   src: url("../assets/fonts/HelveticaNeue-Light.woff2") format("woff2");
//   font-family: $app-fonts-light;
// }

// @font-face {
//   src: url("../assets/fonts/HelveticaNeue-Bold.woff2") format("woff2");
//   font-family: $app-fonts-bold;
// }

@function size($multiplier: 1) {
  @return $multiplier * $default-margin;
}

$default-margin: 0.5rem;
$default-border-radius: 6px;
$input-height: size(5);

:export {
  primaryColor: $color-primary;
  secondaryColor: $color-secondary;
  colorDark: $color-dark;
  colorDarkLight: $color-dark-light;
  colorDarkLight2: $color-dark-light2;
  colorDarkLight3: $color-dark-light3;
  colorDisabled: $color-disabled;
  colorBlack: $color-black;
  appFontsRegular: $app-fonts-regular;
  appFontsLight: $app-fonts-light;
  appFontsUltaLight: $app-fonts-ultaLight;
  appFontsBold: $app-fonts-bold;
  appFontsMedium: $app-fonts-medium;
}
