@use "sass:map";

$color-primary: #2faa75;
$color-secondary: #0072ca;
$color-primary-light: mix($color-primary, white, 50%);
$color-dark: #858585;
$color-dark2: #707070;
$color-dark-light: #c2c2c2;
$color-dark-light2: #dbdbdb;
$color-dark-light3: #a6a6a6;
$color-dark-light4: #434a870f;
$color-dark-light5: #f9f9f9;
$color-danger: #ed2359;
$color-black: #383838;
$color-disabled: #c9c9c9;
$color-white: white;

$app-fonts-regular: "HelveticaNeue";
$app-fonts-light: "HelveticaNeue-Light";
$app-fonts-ultaLight: "HelveticaNeue-UltraLight";
$app-fonts-bold: "HelveticaNeue-Bold";
$app-fonts-medium: "HelveticaNeue-Medium";

// Screem sizes
$sm-screen: 600px;
$md-screen: 960px;
$lg-screen: 1280px;
$xl-screen: 1920px;

@function size($multiplier: 1) {
  @return $multiplier * $default-margin;
}

$default-margin: 0.5rem;
$default-border-radius: 6px;
$input-height: size(5);

:export {
  primaryColor: $color-primary;
  secondaryColor: $color-secondary;
  primaryColorLight: $color-primary-light;
  colorDark: $color-dark;
  colorDark2: $color-dark2;
  colorDarkLight: $color-dark-light;
  colorDarkLight2: $color-dark-light2;
  colorDarkLight3: $color-dark-light3;
  colorDarkLight4: $color-dark-light4;
  colorDarkLight5: $color-dark-light5;
  colorDisabled: $color-disabled;
  colorBlack: $color-black;
  colorDanger: $color-danger;
  appFontsRegular: $app-fonts-regular;
  appFontsLight: $app-fonts-light;
  appFontsUltaLight: $app-fonts-ultaLight;
  appFontsBold: $app-fonts-bold;
  appFontsMedium: $app-fonts-medium;
  colorWhite: $color-white;
}
