@mixin align-center($direction: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin single-line-text {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: inherit;
}

@mixin set-icon-size($height) {
  svg {
    height: $height;
    width: $height;
  }
}

@mixin set-icon-color($color) {
  g,
  path {
    fill: $color;
  }
}

@mixin set-fonts {
  @font-face {
    src: url("~@classmate_technolabs/serego-common/src/assets/fonts/HelveticaNeue.woff2")
      format("woff2");
    font-family: $app-fonts-regular;
  }

  @font-face {
    src: url("~@classmate_technolabs/serego-common/src/assets/fonts/HelveticaNeue-UltraLight.woff2")
      format("woff2");
    font-family: $app-fonts-ultaLight;
  }

  @font-face {
    src: url("~@classmate_technolabs/serego-common/src/assets/fonts/HelveticaNeue-Medium.woff2")
      format("woff2");
    font-family: $app-fonts-medium;
  }

  @font-face {
    src: url("~@classmate_technolabs/serego-common/src/assets/fonts/HelveticaNeue-Light.woff2")
      format("woff2");
    font-family: $app-fonts-light;
  }

  @font-face {
    src: url("~@classmate_technolabs/serego-common/src/assets/fonts/HelveticaNeue-Bold.woff2")
      format("woff2");
    font-family: $app-fonts-bold;
  }
}
