@import "../../styles/config.module";

$input-horizontal-multiplier: 2.5;

.simple-input {
  .MuiInputLabel-root {
    font-family: $app-fonts-regular;
  }
  .MuiInputBase-input {
    font-family: $app-fonts-regular;
  }
}
