@import "../../styles/config.module";

$input-horizontal-multiplier: 2.5;

.simple-input {
  .MuiInputLabel-root {
    font-family: $app-fonts-regular;
  }
  .MuiInputBase-input {
    font-family: $app-fonts-regular;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
