@import "../../styles/config.module";

$input-horizontal-multiplier: 2.5;

.simple-button {
  .MuiButton-root {
    font-family: $app-fonts-medium;
    box-shadow: none;
    text-transform: none;
    &:hover {
      box-shadow: none;
    }
  }

  &__margin {
    &--right {
      margin-right: size(2);
    }
    &--left {
      margin-left: size(2);
    }
  }
}
