@import "../../styles/config.module";

$input-horizontal-multiplier: 2.5;

.simple-button {
  .MuiButton-root {
    font-family: $app-fonts-medium;
    box-shadow: none;
    text-transform: none;
    &:hover {
      box-shadow: none;
    }
  }

  &__margin {
    &--right {
      margin-right: size(2);
    }
    &--left {
      margin-left: size(2);
    }
  }

  &__variant {
    &--contained-light {
      .MuiButton-root {
        background-color: $color-primary-light;
        &:hover {
          background-color: mix($color-primary-light, white, 70%);
        }
      }
    }

    &--contained-dark {
      .MuiButton-root {
        background-color: $color-dark-light4;
        font-family: $app-fonts-regular;
        &:hover {
          background-color: mix($color-dark-light4, white, 95%);
        }
      }
    }

    &--contained {
      .MuiButton-root {
        color: white;
      }
    }

    &--text-dark {
      .MuiButton-root {
        color: $color-black;
      }
    }

    &--outlined-dark {
      .MuiButton-root {
        color: $color-black;
        border-color: $color-black;
      }
    }
  }
}
